section.gallery-container {
    min-height: 200px;
    background-color: rgba(23, 23, 23, 0.5);
    padding: 15px 20px 33px 10px;
    margin-bottom: 31px;
    border-radius: 0px 30px 10px 30px;
    -moz-border-radius: 0px 30px 10px 30px;
    -webkit-border-radius: 0px 30px 10px 30px;
    border: 1px transparent solid;
    
    section.thumbs-gallery-header{
        font-size:30px;
        color:white;
        margin-bottom:15px;
        margin-top: 0px;
        text-align: center;
    }

    article {
        text-align: center;
        margin-left: -11px;
        margin-right:-21px;
        span {
            display: inline-block;
            // margin-left: 3px;
            // margin-right: 3px;
            transition: all .2s ease-in-out; 
            &:hover{
                transform: scale(1.1);
                cursor: pointer
            }
        }
    }
}
