.combobox-container {
    border: solid gray 1px;
    &:hover {
        cursor: pointer;
    }
    .btn-label {
        width: 100%;
        text-align: left;
        @extend .cropText;
    }
    .dropdown-container {
        display: block;
        padding: 0 !important;
        .dropdown-item {
            @extend .cropText;
            &:hover {
                cursor: pointer;
                background-color: lavender;
            }
        }
        .filter-input {
            width: 100%;
            border: solid 2px darkgray;
        }
    }
    .active-selection {
        background-color: darkseagreen !important;
    }
    .cropText {
        overflow: hidden;
        white-space: nowrap;
        /* Don't forget this one */
        text-overflow: ellipsis;
    }
}
