<section>
    <jumbotron side="center">
        <page-title title="Albums"></page-title>
        <section class=".jumb-body">
            <img src="./assets/graphics/background/photo.jpg" width="100%">
        </section>
    </jumbotron>

    <section class="row">
        <thumbs-gallery header="{{_albumTitle.family}}" [list]="familyAlbum" 
                        width="150" (onSelect)="selectThumbnail($event, 'family')" 
                        class="col-sm-5" colums="col-sm-6" 
                        [showLoading]="isLoading">
        </thumbs-gallery>

        <thumbs-gallery header="{{_albumTitle.vegas}}" [list]="lasVegasAlbum" 
                        width="150" (onSelect)="selectThumbnail($event, 'vegas')"  
                        class="col-sm-5" colums="col-sm-6"
                         [showLoading]="isLoading">
        </thumbs-gallery>
    </section>

    <slide-show [visible]="showModal" [displayImage]="selectedThumb" [imageList]="quickViewAblum" height="545" size="md" (close)="showModal=false">
    </slide-show>
</section>
